/* EM pal 9 */
$em-accent-palette: (
    50 : #edeaec,
    100 : #d1cad0,
    200 : #b3a7b1,
    300 : #958392,
    400 : #7e697a,
    500 : #674e63,
    600 : #5f475b,
    700 : #543d51,
    800 : #4a3547,
    900 : #392535,
    A100 : #ff83ea,
    A200 : #ff50e2,
    A400 : #ff1dd9,
    A700 : #ff03d5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* South Eastern SE pal 16 */
$se-accent-palette: (
    50 : #e1f4fb,
    100 : #b3e4f5,
    200 : #81d2ef,
    300 : #4fbfe8,
    400 : #29b2e3,
    500 : #03a4de,
    600 : #039cda,
    700 : #0292d5,
    800 : #0289d1,
    900 : #0178c8,
    A100 : #f1f8ff,
    A200 : #bee1ff,
    A400 : #8bcaff,
    A700 : #71beff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


/* Cross Country CX pal 5 */
$xc-accent-palette: (
    50 : #f3e5eb,
    100 : #e1becc,
    200 : #cd93ab,
    300 : #b86789,
    400 : #a9476f,
    500 : #9a2656,
    600 : #92224f,
    700 : #881c45,
    800 : #7e173c,
    900 : #6c0d2b,
    A100 : #ffa0ba,
    A200 : #ff6d95,
    A400 : #ff3a70,
    A700 : #ff205d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* TFW AW pal 2 */
$aw-accent-palette: (
    50 : #ffe4e1,
    100 : #ffbcb3,
    200 : #ff9080,
    300 : #ff644d,
    400 : #ff4227,
    500 : #ff2101,
    600 : #ff1d01,
    700 : #ff1801,
    800 : #ff1401,
    900 : #ff0b00,
    A100 : #ffffff,
    A200 : #fff2f2,
    A400 : #ffc0bf,
    A700 : #ffa7a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* SOUTH WEST TRAINS SW pal 3 */
$sw-accent-palette: (
    50 : #e0f2f8,
    100 : #b3dfef,
    200 : #80cae4,
    300 : #4db5d9,
    400 : #26a5d0,
    500 : #0095c8,
    600 : #008dc2,
    700 : #0082bb,
    800 : #0078b4,
    900 : #0067a7,
    A100 : #d1ebff,
    A200 : #9ed4ff,
    A400 : #6bbeff,
    A700 : #52b2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


/* Great Western GW pal 4 */
$gw-accent-palette: (
    50 : #edf9f3,
    100 : #d3efe0,
    200 : #b6e5cc,
    300 : #99dbb8,
    400 : #83d3a8,
    500 : #6dcb99,
    600 : #65c691,
    700 : #5abe86,
    800 : #50b87c,
    900 : #3eac6b,
    A100 : #fcfffd,
    A200 : #c9ffde,
    A400 : #96ffbf,
    A700 : #7dffb0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


/* Transpennine TP pal 6 */
$tp-accent-palette: (
    50 : #e0f4fc,
    100 : #b3e4f8,
    200 : #80d3f3,
    300 : #4dc1ee,
    400 : #26b3ea,
    500 : #00a6e6,
    600 : #009ee3,
    700 : #0095df,
    800 : #008bdb,
    900 : #007bd5,
    A100 : #fcfeff,
    A200 : #c9e5ff,
    A400 : #96cdff,
    A700 : #7dc1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


/* C2C CC??? pal7 */
$cc-accent-palette: (
    50 : #f7e2f0,
    100 : #ebb6d9,
    200 : #dd85c0,
    300 : #cf54a6,
    400 : #c53093,
    500 : #bb0b80,
    600 : #b50a78,
    700 : #ac086d,
    800 : #a40663,
    900 : #960350,
    A100 : #ffc1de,
    A200 : #ff8ec3,
    A400 : #ff5ba8,
    A700 : #ff419a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


/* CH pal 8 */
$ch-accent-palette: (
    50 : #e2f3fa,
    100 : #b7e1f2,
    200 : #88cdea,
    300 : #58b9e2,
    400 : #34aadb,
    500 : #109bd5,
    600 : #0e93d0,
    700 : #0c89ca,
    800 : #097fc4,
    900 : #056dba,
    A100 : #e4f2ff,
    A200 : #b1daff,
    A400 : #7ec2ff,
    A700 : #64b6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




/* Greater Angela LE?? pal 10 */
$le-accent-palette: (
    50 : #fae4e7,
    100 : #f4bac2,
    200 : #ec8d9a,
    300 : #e45f72,
    400 : #df3c53,
    500 : #d91a35,
    600 : #d51730,
    700 : #cf1328,
    800 : #ca0f22,
    900 : #c00816,
    A100 : #ffebec,
    A200 : #ffb8bb,
    A400 : #ff858b,
    A700 : #ff6b72,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* HT */
$ht-accent-palette: (
    50 : #fce0ee,
    100 : #f7b3d5,
    200 : #f280b9,
    300 : #ec4d9c,
    400 : #e82687,
    500 : #e40072,
    600 : #e1006a,
    700 : #dd005f,
    800 : #d90055,
    900 : #d10042,
    A100 : #fff9fb,
    A200 : #ffc6d4,
    A400 : #ff93ae,
    A700 : #ff7a9a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



/* west midlands */
$lm-accent-palette: (
    50 : #fff0e0,
    100 : #ffdab3,
    200 : #ffc180,
    300 : #ffa84d,
    400 : #ff9526,
    500 : #ff8200,
    600 : #ff7a00,
    700 : #ff6f00,
    800 : #ff6500,
    900 : #ff5200,
    A100 : #ffffff,
    A200 : #fff6f2,
    A400 : #ffd0bf,
    A700 : #ffbda6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* london northern GR md-mcgpalette13 */
$gr-accent-palette: (
    50 : #f9e2e6,
    100 : #f0b7c0,
    200 : #e78796,
    300 : #dd566c,
    400 : #d5324d,
    500 : #ce0e2d,
    600 : #c90c28,
    700 : #c20a22,
    800 : #bc081c,
    900 : #b00411,
    A100 : #ffdadb,
    A200 : #ffa7aa,
    A400 : #ff7479,
    A700 : #ff5a61,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



/* Merseyrail - ME Pal 14 */
$me-accent-palette: (
    50 : #fffbe0,
    100 : #fff5b3,
    200 : #ffee80,
    300 : #ffe74d,
    400 : #ffe126,
    500 : #ffdc00,
    600 : #ffd800,
    700 : #ffd300,
    800 : #ffce00,
    900 : #ffc500,
    A100 : #ffffff,
    A200 : #fffcf2,
    A400 : #ffefbf,
    A700 : #ffe8a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


/* Northern Ireland ni 15 */
$ni-accent-palette: (
    50 : #e5edf3,
    100 : #bed1e2,
    200 : #93b3cf,
    300 : #6794bc,
    400 : #477dad,
    500 : #26669f,
    600 : #225e97,
    700 : #1c538d,
    800 : #174983,
    900 : #0d3872,
    A100 : #a5c6ff,
    A200 : #72a6ff,
    A400 : #3f86ff,
    A700 : #2576ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/*southern sn 17*/
$sn-accent-palette: (
    50 : #f0f8e8,
    100 : #d9edc6,
    200 : #c0e1a1,
    300 : #a6d47b,
    400 : #93cb5e,
    500 : #80c242,
    600 : #78bc3c,
    700 : #6db433,
    800 : #63ac2b,
    900 : #509f1d,
    A100 : #e6ffd8,
    A200 : #c5ffa5,
    A400 : #a5ff72,
    A700 : #95ff58,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* cross rail xr? 18 */
$xr-accent-palette: (
    50 : #e0f6fb,
    100 : #b3e9f6,
    200 : #80daf0,
    300 : #4dcbe9,
    400 : #26c0e5,
    500 : #00b5e0,
    600 : #00aedc,
    700 : #00a5d8,
    800 : #009dd3,
    900 : #008dcb,
    A100 : #f3fbff,
    A200 : #c0e9ff,
    A400 : #8dd7ff,
    A700 : #74cfff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


/* Great Northern GN?? palette 19 */
$gn-accent-palette: (
    50 : #e9f4fa,
    100 : #c8e4f4,
    200 : #a4d2ec,
    300 : #80bfe4,
    400 : #64b2df,
    500 : #49a4d9,
    600 : #429cd5,
    700 : #3992cf,
    800 : #3189ca,
    900 : #2178c0,
    A100 : #fafdff,
    A200 : #c7e4ff,
    A400 : #94cbff,
    A700 : #7abfff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


/* Thameslink TL?? pal 20 */
$tl-accent-palette: (
    50 : #fce9f1,
    100 : #f8c9dc,
    200 : #f4a5c5,
    300 : #f080ad,
    400 : #ec659c,
    500 : #e94a8a,
    600 : #e64382,
    700 : #e33a77,
    800 : #df326d,
    900 : #d9225a,
    A100 : #ffffff,
    A200 : #ffe0e8,
    A400 : #ffadc3,
    A700 : #ff93b1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


/* Northern NT pal 21 */
$nt-accent-palette: (
    50 : #ecedf1,
    100 : #d0d1dd,
    200 : #b1b3c7,
    300 : #9294b0,
    400 : #7a7d9f,
    500 : #63668e,
    600 : #5b5e86,
    700 : #51537b,
    800 : #474971,
    900 : #35385f,
    A100 : #b0b4ff,
    A200 : #7d83ff,
    A400 : #4a53ff,
    A700 : #303aff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


/* Scotrail SR??? pal 22 */
$sr-accent-palette: (
    50 : #e3effb,
    100 : #b9d8f4,
    200 : #8bbeed,
    300 : #5da3e5,
    400 : #3a90e0,
    500 : #177cda,
    600 : #1474d6,
    700 : #1169d0,
    800 : #0d5fcb,
    900 : #074cc2,
    A100 : #ecf2ff,
    A200 : #b9cfff,
    A400 : #86acff,
    A700 : #6d9bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


/* avanti westcoast VT?? Pal 23 */
$vt-accent-palette: (
    50 : #eceff0,
    100 : #cfd7da,
    200 : #afbcc2,
    300 : #8ea1aa,
    400 : #768d97,
    500 : #5e7985,
    600 : #56717d,
    700 : #4c6672,
    800 : #425c68,
    900 : #314955,
    A100 : #a4e0ff,
    A200 : #71ceff,
    A400 : #3ebdff,
    A700 : #25b4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
