:root {
    --fifty:#f3e5eb;
    --one-hundred: #e1becc;
    --two-hundred: #cd93ab;
    --three-hundred: #b86789;
    --four-hundred:#a9476f;
    --five-hundred: #9a2656;
    --six-hundred: #92224f;
    --seven-hundred:#881c45;
    --eight-hundred: #7e173c;
    --nine-hundred: #6c0d2b;
    --A100 : #ffa0ba;
    --A200 : #ff6d95;
    --A400 : #ff3a70;
    --A700 : #ff205d;

    /* Contrast */
    --contrast-fifty:#000000; 
    --contrast-one-hundred: #000000;
    --contrast-two-hundred: #000000;
    --contrast-three-hundred: #000000;
    --contrast-four-hundred:#ffffff;
    --contrast-five-hundred: #ffffff;
    --contrast-six-hundred: #ffffff;
    --contrast-seven-hundred:#ffffff;
    --contrast-eight-hundred: #ffffff;
    --contrast-nine-hundred: #ffffff;
    --contrast-A100 : #000000;
    --contrast-A200 : #000000;
    --contrast-A400 : #ffffff;
    --contrast-A700 : #ffffff;

  }

