:root {
  --xc-fifty:#f3e5eb;
  --xc-one-hundred: #e1becc;
  --xc-two-hundred: #cd93ab;
  --xc-three-hundred: #b86789;
  --xc-four-hundred:#a9476f;
  --xc-five-hundred: #9a2656;
  --xc-six-hundred: #92224f;
  --xc-seven-hundred:#881c45;
  --xc-eight-hundred: #7e173c;
  --xc-nine-hundred: #6c0d2b;
  --xc-A100 : #ffa0ba;
  --xc-A200 : #ff6d95;
  --xc-A400 : #ff3a70;
  --xc-A700 : #ff205d;

  /* Contrast */
  --xc-contrast-fifty:#000000; 
  --xc-contrast-one-hundred: #000000;
  --xc-contrast-two-hundred: #000000;
  --xc-contrast-three-hundred: #000000;
  --xc-contrast-four-hundred:#ffffff;
  --xc-contrast-five-hundred: #ffffff;
  --xc-contrast-six-hundred: #ffffff;
  --xc-contrast-seven-hundred:#ffffff;
  --xc-contrast-eight-hundred: #ffffff;
  --xc-contrast-nine-hundred: #ffffff;
  --xc-contrast-A100 : #000000;
  --xc-contrast-A200 : #000000;
  --xc-contrast-A400 : #ffffff;
  --xc-contrast-A700 : #ffffff;

}
